body, html{
    margin: 0;
  }
  
  .column{
    display: inline-block;
    background-color: black;;
  }
  
  .pos{
    width: 95px;
    height: 95px;
    border-radius: 50%;
    background: whitesmoke;
    margin: 10px;
    cursor: pointer;
  }

  .pos:hover {
    background-color: red;
  }
  
  .game-area{
    /* position: absolute; */
    top: 100px;
    left: 250px;
    display: flex;
    flex-wrap: wrap;
  font-size: 0;
  border: solid black 10px;
  }
  
  .board{
      position: absolute;
      top: 100px;
      left: 250px;
      display: flex;
      flex-wrap: wrap;
    font-size: 0;
    border: solid black 10px;
    border-radius: 2%;
    box-shadow: 20px grey;
  }

h1 {
    text-align: center;
    border: 5px solid red;
    background-color: rgb(241, 35, 35);
   
}

.start {
    position: absolute;
    bottom: 0px;
    left: 10vh;
    color:black;
    background: red;
    width: 3rem;
    display: inline-block;
    margin-bottom: 26px;
    cursor: pointer;
    border: 3px solid rgb(223, 29, 29);
    border-radius: 20%;
    padding: 5px;
}

.player-1{
    margin-right:45%;
    margin-left: 20px;
    text-align: left;
    display: inline-block;

}

.player-2{
    margin-left: 40%;
    text-align: right;
    display: inline-block;

}