* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.game-area {
    position: absolute;
    top: 4rem;
    left: 50%;
    transform: translate(-50%);
    width: 645px;
    height: 595px;
    border: 5px solid black;
    background: rgb(226, 5, 226);
    box-shadow: 10px 10px #14213d;
    padding: 10px;
}

.position {
    position: center;
    margin: %;
    height: 85px;
    width: 85px;
    background-color: rgb(226, 5, 226);
    border: 1px solid black;
    border-radius: 50%;
}

body {
    background-color: aqua;
}

h1 {
    text-align: center;
    top: 40px;
    border: solid black;
    


}



button {
    color: black;
    border-radius: 10%;
    padding: 10px;
}

table {
    background: black;
    position: relative;
    width: 645px;
    height: 590px% ;
    margin: 0% auto;

}

.player-1{
    margin-right:45%;
    margin-left: 20px;
    text-align: left;
    display: inline-block;

}

.player-2{
    margin-left: 35%;
    text-align: right;
    display: inline-block;

}