/* * {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */

.game-area {
    position: absolute;
    /* top: 4rem; */
    left: 50%;
    transform: translate(-50%);
    width: 625px;
    height: 580px;
    border: 10px solid black;
    background: gold;
    /* box-shadow: 15px 10px #14213d; */
    border-radius: 3%;
    padding: 10px;
}

.position {
    position: center;
    margin: 0% auto;
    height: 80px;
    width: 80px;
    background-color: whitesmoke;
    border: 5px solid black;
    border-radius: 50%;
}

table {
    background: black;
    position: absolute;
    width: 623px;
    height: 560px;
    margin: 0% auto;

}

body {
    position: relative;
    background: whitesmoke;
    height: 100vh;
}

.header {


}

h1 {
    
    /* font-weight: bolder; */
    text-align: center;
   
}



.button-area {
    display: inline-block;
    height: 100px;
    top: 90vh;
    left: 50%;
    transform: translate(-50%);
    border: 10px solid black;
    background: black;

}
.button {
    position: absolute;
    bottom: 0px;
    color:blue;
    width: 3rem;
    display: inline-block;
    margin-bottom: 26px;
}

.player-1{
    margin-right:45%;
    margin-left: 20px;
    text-align: left;
    display: inline-block;

}

.player-2{
    margin-left: 35%;
    text-align: right;
    display: inline-block;

}